.item {
  display: grid;
  grid-template-areas: 'sell-price' 'by-price' 'quantity';
  width: 100%;

  @media (min-width: 32em) {
    grid-template-areas: 'sell-price quantity' 'by-price quantity';
  }

  @media (min-width: 48em) {
    grid-template-areas: 'sell-price by-price quantity';
  }

  p:nth-child(1) {
    grid-area: sell-price;
  }

  p:nth-child(2) {
    grid-area: by-price;
  }

  p:nth-child(3) {
    grid-area: quantity;
  }
}
