.scanner {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  text-align: center;
}

.tips_and_manual {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0.2rem;
}

.tips {
  display: inline-block;
  margin: auto;
}

.alert {
  // stylelint-disable-next-line selector-class-pattern
  :global(.alert-message.sc-ion-alert-ios:empty) {
    padding: 0;
  }

  // stylelint-disable-next-line selector-class-pattern
  :global(.alert-input-group) {
    padding-top: unset;
  }
}
