<div class="module" style="padding-bottom: 0.01px; background-color: var(--darkened-bg);">
  <div style="display:flex; justify-content: space-between; align-items: center; padding: 16px; margin-bottom: 16px;
  border-bottom: 1px solid var(--hairline-color);">
    <h2 style="background: none; padding: 0; font-size: 18px; color: var(--body-fg);">API Documentation</h2>
    <a href="#">Show Documentation</a>
  </div>
  <div style="margin: 16px;">
    <p style="padding: 0;">Django admin is a portal to quicky access the backend data form a web browser but you
      can also expore and edit the data from Rest API endpoints</p>
  </div>
</div>