// stylelint-disable selector-class-pattern

.md.ios-only {
  display: none;
}

.ios.md-only {
  display: none;
}

.alert-button.alert-button-role-destructive {
  color: var(--ion-color-danger, #eb445a);
}
